footer {
    background-color: var(--c-primary);
    padding: 32px 0;
    color: var(--c-white);
    margin-top: 62px;
}

footer .pmb_resume,
footer h2.pmb_subtitle {
    color: var(--c-white);
    margin-bottom: 16px;
}