/*--------------------
- OPAC: ACCESSIBILITY -
 --------------------*/

#accessibility {
    display: flex;
    justify-content: end;
}

#accessibility a {
    text-decoration: none;
    font-weight: normal;
    font-family: var(--font);
}

#accessibility ul.accessibility_font_size {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

#accessibility .accessibility_font_size li {
    float: none;
}