/*-------------
- OPAC: SEARCH -
 -------------*/

.search_perso .search_sous_critere,
.search_perso .search_operator,
.search_variable_id_thesaurus,
.search_perso .vider {
    display: none !important;
}

#search .row form .row span {
    padding-top: 12px;
}

#search .table-no-border td .search_critere {
    max-width: 100%;
    min-width: 180px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 0px;
    font-weight: 500;
}

#extended-search-container td {
    padding: 20px 0px;
    border-top: 1px solid #fff;
}

#search form .form-contenu input[type="button"],
#search_form .form-contenu input[value="..."] {
    float: right;
    margin: 0;
    margin-right: 0px;
}

#search form .form-contenu input[type="button"] {
    display: block;
    min-height: 35px;
    line-height: normal;
    padding: 0 6px 2px;
    margin: 0px 0px 13px 2%;
    border: solid 0px #6a95c0;
}

#search_chp_1>a {
    float: none;
    font: var(--font-link);
    padding: 11px 24px 10px 24px;
    border-radius: var(--border-radius);
    background-color: var(--c-primary);
    color: var(--c-white);
    transition: var(--transition);
    text-align: center;
    position: absolute;
    top: -44px;
    left: 0;
}

span.search_chp_option {
    width: 33%;
    float: left;
}

.espaceResultSearch {
    display: none !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}

#search {
    background-color: var(--bg-color-opac);
    margin: 20px auto;
    width: 100%;
}

#search td {
    vertical-align: middle;
}

#search_chp_1 {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 32px;
}

#search p.p1 {
    padding: 17px 17px 5px;
    margin: 0;
}

#search>div.row>form {
    position: relative;
    padding: 15px 20px 25px;
    border: none;
}

#resultatrech>h3:not(.searchResult-search) {
    font: var(--font-subtitle);
}

.searchResult-search {
    margin: 16px 0;
}

#search form select[name="typdoc"],
#search .form-contenu select#add_field {
    width: 300px;
    font-weight: 300;
    line-height: 35px;
    height: 48px;
    display: block;
    background-color: var(--c-white);
    font-style: normal;
    padding: 4px 12px;
    margin-bottom: 8px;
    border-radius: var(--border-radius);
}

#search>div.row>form>br,
#search>br {
    display: none;
}

#search input.text_query {
    width: 70%;
    min-height: 35px;
    font-weight: 300;
    font-style: normal;
    padding-left: 10px;
    margin: 0px;
    display: block;
    float: left;
    margin-right: 12px;
}

#search_form {
    position: relative;
    padding: 15px 20px 25px;
    z-index: 1;
}

#search .boutonrechercher,
#search input[type="submit"] {
    min-height: 35px;
    padding: 4px 16px;
    font: var(--font-link);
    padding: 11px 24px 10px 24px;
    border-radius: var(--border-radius);
    background-color: var(--c-primary);
    color: var(--c-white);
    transition: var(--transition);
    text-align: center;
}

#search form input[type="button"] {
    float: none;
}

#search form input[value="Aide"] {
    float: right;
    min-height: 35px;
}

#search #form_search_bull {
    line-height: 30px;
}

#search #form_search_bull span input {
    width: 190px;
}

#zsimplesChild {
    margin-bottom: 0px !important;
    border: none;
}

#search_onglet {
    margin-bottom: 10px;
}

#search>.row {
    clear: both;
    margin-top: 24px;
}

#titreSearch,
#search_block {
    position: relative !important;
    border-top: solid 45px #E9E6DF;
    margin-top: 25px;
}

#simple_search_zone {
    overflow: hidden;
    clear: both;
}

#search form .form-contenu select {
    margin-right: 10px;
    width: auto;
}

#search form .form-contenu .ext_search_txt {
    width: auto;
    min-height: 22px;
    line-height: 22px;
    padding: 2px 4px;
}

#search form .form-contenu input[type="submit"] {
    float: right;
}

#search form .form-contenu select#add_field {
    margin: 0px 0px 13px;
    float: left;
    margin-right: 20px;
}

#field_1_f_11_authority_selector,
#field_3_f_2_authority_selector,
#field_4_f_34_selection_selector {
    display: block;
    min-height: 35px;
    line-height: normal;
    margin: 0px 0px 13px 2%;
    background-color: var(--c-secondary);
    padding: 10px;
}

#search form .form-contenu input[value="Aide"] {
    margin: 0 0 10px;
    float: right;
    font: var(--font-link);
    padding: 11px 24px 10px 24px;
    border-radius: var(--border-radius);
    background-color: var(--c-white);
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
    transition: var(--transition);
    text-align: center;
}

#search form .form-contenu input[value="X"] {
    color: var(--c-white);
    font-weight: 800;
    background-color: var(--c-primary);
}

#search #form_search_bull span input {
    width: auto;
}

#search form .form-contenu .ext_search_txt {
    width: 72%;
    line-height: 22px;
    padding: 0 24px;
}

#form_search_bull input[type="text"] {
    width: auto;
}

#form_search_bull input[type="button"]+input[type="button"] {
    margin-left: 15px;
}

#search form input[type="checkbox"] {
    padding: 0px 8px;
    margin: 0px;
    display: initial;
    box-shadow: none;
    margin-right: 6px;
    margin-top: 4px;
}

.form-contenu br {
    display: none;
}

.form-contenu input[type="text"] {
    margin: 12px 0;
}

#period {
    display: flex !important;
    gap: 8px;
    align-items: center;
}

.search_first_column,
#extended-search-container td:first-of-type {
    display: none;
}

/* multicriteres */

.notice-child .img_basket {
    background-image: none;
    width: auto;
    float: none;
    display: inline;
}

.vignetteimg_simili {
    max-height: 150px;
    border-radius: var(--border-radius-small);
}

#search_result {
    margin-bottom: 20px;
    max-width: 100%;
    border-top: 1px solid #d5d5d5;
    margin: 20px auto;
}

#search_result #categorie {
    clear: both;
}

#search_result blockquote {
    margin: 0px;
    padding: 0px;
}

div[id^=div_public] tr td a {
    word-break: break-word;
}

.categ_see_synonyme h4,
#categ_see_comment h4 {
    color: #097A84;
}

#categ_see_comment {
    margin: 10px 0px;
    padding: 5px;
    background-color: #f1f1f1;
}

#choose_criteria {
    margin-bottom: 10px;
    margin-top: 7px;
}

#search .onglets_isbd_public .row {
    clear: none;
}

#external_search_zone {
    margin-bottom: 12px;
}


/* avanced search
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/


/* rmc responsive
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.rmc_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rmc_criteria_form_map,
.rmc_criteria_form_date,
.rmc_criteria_form_list,
.rmc_criteria_form_authority,
.rmc_criteria_form_text {
    height: 80%;
    width: 100%;
    display: flex;
    margin-left: 2px;
}

#search form select {
    margin-right: 10px;
}

.rmc_search_op {
    margin: 0px;
    margin-right: 0px;
    width: 100% !important;
}

.rmc_search_criteria {
    position: relative;
}

.rmc_inter_container {
    width: 8%;
}

.rmc_criteria_container {
    min-width: 100%;
}

.rmc_criteria_form_container {
    width: 100%;
}

.bouton_add_criterie_rmc.bouton {
    position: absolute !important;
    right: 0;
    bottom: -62px;
}

.rmc_search_criteria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 12px;
}

.rmc_search_txt {
    width: 100% !important;
    height: 48px !important;
}

.rmc_criteria_form_list select {
    width: 65%;
    margin-top: 0;
}

.form_criteria_rmc select:not(.rmc_inter),
.form_criteria_rmc textarea {
    height: 48px;
    border-radius: var(--border-radius);
    padding: 0 16px;
}

.rmc_inter {
    width: 50px !important;
    height: 48px;
    border-radius: var(--border-radius);
    padding: 0 8px;
}

.rmc_search_criteria .bouton_add_criterie_rmc {
    margin-bottom: 4px !important;
    background-color: var(--c-primary);
    color: var(--c-white);
    font-size: 1.8rem;
    border-radius: var(--border-radius);
}

.rmc_row {
    height: auto;
    margin-bottom: 8px;
}

#search input[type="submit"] {
    min-height: 35px;
    padding: 4px 16px;
    height: 48px;
}

.rmc_criteria {
    border-radius: var(--border-radius);
    padding: 0 16px;
    width: 100%;
}

#search_form_submit {
    background-color: var(--c-bg-1);
    border: 1px solid var(--c-bg-1);
    padding: 8px 16px;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 5px;
    color: var(--c-text-2);
    margin-right: 12px;
}

.rmc_criteria_form_map,
.rmc_criteria_form_date,
.rmc_criteria_form_list,
.rmc_criteria_form_authority,
.rmc_criteria_form_text {
    flex-direction: column;
    gap: 12px;
}

#search form select {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .rmc_search_criteria {
        flex-direction: row;
    }

    .rmc_criteria_container {
        min-width: 20%;
    }

    .rmc_criteria_form_map,
    .rmc_criteria_form_date,
    .rmc_criteria_form_list,
    .rmc_criteria_form_authority,
    .rmc_criteria_form_text {
        flex-direction: row;
    }

    .rmc_search_op {
        width: 25% !important;
    }

    .rmc_criteria_form_container {
        width: 75%;
    }

    .rmc_inter {
        width: auto;
    }

    .rmc_search_txt {
        width: 85% !important;
    }

    .bouton_add_criterie_rmc.bouton {
        bottom: -48px;
    }

}


@media screen and (max-width: 960px) {

    span.search_chp_option {
        width: 37%;
    }
}